<div class="container">
    <div class="jumbotron">
        <h1>Plenario</h1>
        <p class="lead">
            En este proyecto se podrá crear personas, modificarlas y eliminarlas.
            En la lista de personas se encuentran los teléfonos de cada persona, los mismo también pueden ser creados, modificados y eliminados.
        </p>
        <div class="row mt-5">
            <div class="col">
                <a href="/Home/PersonaAdd" type="button" class="btn btn-info w-100">
                    <h4>Crear persona &raquo;</h4>

                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/Home/PersonaList" type="button" class="btn btn-info w-100">
                    <h4>Lista de personas &raquo;</h4>

                </a>
            </div>
        </div>
    </div>
</div>


