<div class="container">
    <div class="row mt-2 mb-4">
        <div class="col-3"></div>
        <div class="col ta-c">
            <h1>Agregar Persona</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-2 mb-lg-4">
        <div class="col">
            <hr />
        </div>
    </div>
    <form method="post">
        <div class="row ta-c">
            <div class="col-3"></div>
            <div class="col">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mt-4 ta-c">
            <div class="col-3"></div>
            <div class="col">
                <input type="text" class="form-control" name="apellido" placeholder="Apellido">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row mt-4 ta-c">
            <div class="col-3"></div>
            <div class="col">
                <input type="datetime" class="form-control" name="fechaDeNacimiento" placeholder="Fecha de nacimiento">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row mt-4 ta-c">
            <div class="col-3"></div>
            <div class="col">
                <input type="text" class="form-control" name="creditoMaximo" placeholder="Crédito máximo">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mt-4 ta-c">
            <div class="col-3"></div>
            <div class="col">
                <button type="submit" class="btn btn-success w-100"> Agregar &raquo;</button>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/Home/PersonaList" type="button" class="btn btn-info w-100">
                    Lista de personas &raquo;
                </a>
            </div>
            <div class="col">
                <a href="/Home" type="button" class="btn btn-info w-100">
                    Volver al inicio &raquo;
                </a>
            </div>
        </div>
    </form>
</div>

